body{
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}
li{
    color: #7c7c7c;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
}
.header{
    background-color: #42a8f6;
}
.nav{
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    text-align: right;
    padding: 20px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.nav-list-item{
    display: inline-block;
    padding: 5px 20px;
    font-weight: 17px;
    color: #fff;
    text-transform: uppercase;
}
.logo{
    float: left;
}
.button{
    border: none;
    border-radius: 3px;
    background-color: #4ca3e6;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    font-size: 17px;
    font-weight: 400;
    width: 110px;
    height: 55px;
}
.tagline{
    color: #fff;
    font-weight: 500;
    margin-top: 303px;
}
.tagline-title{
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 44px;
}
.tagline-descr{
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 70px;
}
.b-link{
    box-shadow: 0 8px 11px rgba(54, 54, 54, 0.15);
    border-radius: 10px;
    background-color: #ffffff;
    color: #3e3e3e;
    text-transform: none;
    width: 240px;
    height: 80px;
    font-weight: 700;
    margin-right: 29px;
}
.b-more{
    text-transform: none;
    width: 240px;
    height: 80px;
    font-weight: 700;
}
.tagline-phone{
    margin-top: 123px;
}
.tagline-earphones{
    display: inline-block;
    height: 1px;
    width: 100%;
    text-align: right;
}
.services{
    height: 650px;
}
.services-title{
    width: 100%;
    text-align: center;
    font-family: "Roboto Slab";
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 57px;
    margin-bottom: 96px;
}
.title-welcome{
    color: #7c7c7c;
    font-size: 18px;
    font-weight: 400;
    text-transform: none;
}
.service-web, .service-photo, .service-vector{
    text-align: center;
}
.serv-title{
    margin-bottom: 32px;
    margin-top: 57px;
    font-size: 18px;
    color: #494949;
    font-weight: bold;
}
.serv-descr{
    color: #7c7c7c; 
    font-size: 14px;
}
.serv-img{
    height: 106px;
}
.features{
    background-image: url("../img/BG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.features-screens{
    display: inline-block;
    margin-top: 123px;
}
.features-text{
    display: inline-block;
}
/*.circles{
    background-color: #78c0f9;
    width: 100%;
    height: 100%;
    border-radius: 50%;

}*/
.features-ul{
    list-style-image: url("../img/icons/list.png")
}